# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
ReadMe.txt
x64/Release/MISI_ImgAlg.log
x64/Release/MISI_ImgAlg.pgd
x64/Release/MISI_ImgAlg.tlog/CL.command.1.tlog
x64/Release/MISI_ImgAlg.tlog/CL.read.1.tlog
x64/Release/MISI_ImgAlg.tlog/CL.write.1.tlog
x64/Release/MISI_ImgAlg.tlog/link.command.1.tlog
x64/Release/MISI_ImgAlg.tlog/link.delete.1.tlog
x64/Release/MISI_ImgAlg.tlog/link.read.1.tlog
x64/Release/MISI_ImgAlg.tlog/link.write.1.tlog
x64/Release/MISI_ImgAlg.tlog/MISI_ImgAlg.lastbuildstate
x64/Release/MISI_ImgAlg.tlog/MISI_ImgAlg.write.1u.tlog
x64/Release/vc142.pdb
x64/Release/MISI_ImgAlg.vcxproj.FileListAbsolute.txt
